{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/media/css/about.css" type="text/css" />

	<link rel="stylesheet" type="text/css" href="/media/css/comments_form.css">
	<script type="text/javascript" src="/media/js/comments_form.js"></script>

	<!--[if !IE]><!-->
	 <!--引入wangEditor.css-->
	 <link rel="stylesheet" type="text/css" href="/media/editor/wangEditor-2.0.4/dist/css/wangEditor.min.css">
	 <!--引入jquery和wangEditor.js-->   <!--注意：javascript必须放在body最后，否则可能会出现问题-->
	 <script type="text/javascript" src="/media/editor/wangEditor-2.0.4/dist/js/lib/jquery-1.10.2.min.js"></script>
	 <script type="text/javascript" src="/media/editor/wangEditor-2.0.4/dist/js/wangEditor.min.js"></script>
	<!--<![endif]-->

{% endblock %}
{% block title %}关于{% endblock %}
{% block content %}
	<div class="page-title">关于我：</div>
	<div class="about">
		<div class="about-me-title">
			<image id="avatar" src="/media/images/avatar.jpg"/>
			<span id="myname">王宁</span>
		</div>
		{{ aboutme.content | safe }}
	</div>
	<div class="page-title">关于本博客：</div>
	<div class="about">
		{{ aboutblog.content | safe }}
	</div>


	{% load load_comments %}
    <div class="comments">
        <p class="comments-title">评论：</p>
        <div class="comments-list">
			{% comments_list "about" 1 True %}
        </div>
        <div class="comments-form">
        	{% comments_form "about" 1 %}
        </div>
    </div>
{% endblock %}
